.navbar {
  background-color: #b2765d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  color: #F4F4F0;
  background-color: transparent; 
  border-radius: 5px; 
  padding: 5px 10px; 
  transition: color 0.3s;
}

.nav-link:hover {
  color: white;
  background-color: #77b7b8; 
  border-radius: 5px; 
  padding: 5px 10px; 
  transition: color 0.3s, background-color 0.3s; 
}

.nav-link.active {
  color: white;
  background-color: #77b7b8; 
  border-radius: 5px;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}


  